<section id="achievement_listing">
    <header><h1>Achievements</h1></header>
    <table>
        <tr class="header">
            <th>Name</div></th>
            <th>Points</div></th>
            <th>Per Game</div></th>
            <th>Type</div></th>
            <th>Completed Event</th>
        </tr>
    <?php foreach($achievements as $a){?>
        <tr class="<?php echo $a[style]?>">
            <td>
                <?php echo $a[name]?> 
                (<a href="home.php?view=achievement_config&action=edit_ach&ach_id=<?php echo $a[id]?>">Edit</a>)
            </td>
            <td><?php echo $a[points]?></td>
            <td><?php if($a[per_game]){?>Yes<?php } else {?>No<?php }?></td>
            <td><?php if($a[is_meta]){?>Meta<?php } else {?>Standard<?php }?></td>
            <td><?php echo $a[event_name]?></td>
            <td>
                <a href="home.php?view=achievement_config&action=delete&ach_id=<?php echo $a[id]?>">Delete</a>
            </td>
        </tr>
    <?php }?>
    </table>
</section>

