<section id="achievement_listing">
    <header><h1>Achievements</h1></header>
    <table>
        <tr class="header">
            <th>Name</div></th>
            <th>Points</div></th>
            <th>Per Game</div></th>
            <th>Game System</div></th>
            <th>Type</div></th>
            <th><div class="rotated">Game Count</div></th>
            <th><div class="rotated">Game Size</div></th>
            <th><div class="rotated">Played against Faction</div></th>
            <th><div class="rotated">Unique Opponent</div></th>
            <th><div class="rotated">Unique Opponent Location</div></th>
            <th><div class="rotated">Played Theme Force</div></th>
            <th><div class="rotated">Played Fully Painted</div></th>
            <th><div class="rotated">Fully Painted Battle</div></th>
            <th><div class="rotated">Scenario Table</div></th>
            <th><div class="rotated">Multiplayer</div></th>
            <th><div class="rotated">Played vs VIP</div></th>
            <th>Completed Event</th>
        </tr>
    <?php foreach($achievements as $a){?>
        <tr class="<?php echo $a[style]?>">
            <td>
                <?php echo $a[name]?> 
                (<a href="home.php?view=achievement_config&action=edit_ach&ach_id=<?php echo $a[id]?>">Edit</a>)
            </td>
            <td><?php echo $a[points]?></td>
            <td><?php if($a[per_game]){?>Yes<?php } else {?>No<?php }?></td>
            <td><?php echo $a[game_system_name]?></td>
            <td><?php if($a[is_meta]){?>Meta<?php } else {?>Standard<?php }?></td>
            <td><?php if($a[game_count] > 0){?><?php echo $a[game_count]?><?php }?></td>
            <td><?php echo $a[game_size]?></td>
            <td><?php echo $a[faction]?></td>
            <td><?php if($a[unique_opponent]){?>Y<?php }?></td>
            <td><?php if($a[unique_opponent_locations]){?>Y<?php }?></td>
            <td><?php if($a[played_theme_force]){?>Y<?php }?></td>
            <td><?php if($a[fully_painted]){?>Y<?php }?></td>
            <td><?php if($a[fully_painted_battle]){?>Y<?php }?></td>
            <td><?php if($a[played_scenario]){?>Y<?php }?></td>
            <td><?php if($a[multiplayer]){?>Y<?php }?></td>
            <td><?php if($a[vs_vip]){?>Y<?php }?></td>
            <td><?php echo $a[event_name]?></td>
            <td>
                <a href="home.php?view=achievement_config&action=delete&ach_id=<?php echo $a[id]?>">Delete</a>
            </td>
        </tr>
    <?php }?>
    </table>
</section>

