<footer id="main_footer">
    <nav id="footer_nav">
        <ul>
            <li><a href="home.php">Home</a></li>
	    <?php if(Session::isLoggedIn()){?>
		<li>Logged in as: <?php echo Session::getUsername()?></li>
		<li><a href="login.php?action=logout">Log Out</a></li>
	    <?php } else {?>
                <li>Not logged in!</li>
                <li><a href="login.php">Log In</a></li>
            <?php }?>
        </ul>
    </nav>
    <section style="font-size:75%">
        <em>Warmachine</em>, <em>Hordes</em>, the "Skully" logo and all other intellectual properties of Privateer Press are used with permission.<br/>
		Powered by COPSS, &copy; <a href="mailto:plarzoid@gmail.com">Plarzoid Productions, LLC</a>
	</section>
</footer>
</div>
</body>
</html>
