<footer id="main_footer">
    <nav id="footer_nav">
        <ul>
            <li><a href="home.php">Home</a></li>
	    <?php if(Session::isLoggedIn()){?>
		<li>Logged in as: <?php echo Session::getUsername()?></li>
		<li><a href="login.php?action=logout">Log Out</a></li>
	    <?php } else {?>
                <li>Not logged in!</li>
                <li><a href="login.php">Log In</a></li>
            <?php }?>
        </ul>
    </nav>
    <section>
        <div class="simple">
            Software &copy; <a href="mailto:plarzoid@gmail.com">Plarzoid Productions, LLC</a><br>
            COPSS Software version <?php echo $this->version?>
        </div>
    </section>
</footer>
</div>
</body>
</html>
