<aside id="main_aside">
    <ul>
    <li><a href="http://www.brawltimore.com">Brawltimore Home</a></li>
	<?php  foreach($tabs as $label=>$link){?>
        <li <?php  if(!strcmp($link, $view)){?>id="active_tab"<?php }?>>
            <a href="home.php?view=<?php echo $link?>"><?php echo $label?></a>
        </li>
    <?php }?>
<!--        <li><a href="https://www.google.com/calendar/embed?src=jc83g6vifjhr3ek25eqgrg9ek4%40group.calendar.google.com&ctz=America/New_York" target="_blank">Event Calendar</a></li> --!>
    </ul>
    <?php  if(Session::isAdmin()){?>
        <div id="admin_panel">--- Admin Panel ---</div>
        <ul>
        <?php  foreach($admin_tabs as $label=>$link){?>
            <li <?php  if(!strcmp($link, $view)){?>id="active_tab"<?php }?>>
                <a href="home.php?view=<?php echo $link?>"><?php echo $label?></a>
            </li>
        <?php }?>
        </ul>
    <?php }?>
</aside>
