<aside id="main_aside">
    <ul>
    <?php  foreach($tabs as $label=>$link){?>
        <li <?php  if(!strcmp($link, $view)){?>id="active_tab"<?php }?>>
            <a href="home.php?view=<?php echo $link?>"><?php echo $label?></a>
        </li>
    <?php }?>
    </ul>
    <?php  if(Session::isAdmin()){?>
        <div id="admin_panel">--- Admin Panel ---</div>
        <ul>
        <?php  foreach($admin_tabs as $label=>$link){?>
            <li <?php  if(!strcmp($link, $view)){?>id="active_tab"<?php }?>>
                <a href="home.php?view=<?php echo $link?>"><?php echo $label?></a>
            </li>
        <?php }?>
        </ul>
    <?php }?>
</aside>
