<section id="main_section">
    <header>
        <hgroup>
            <h1><? echo $title?></h1>
        </hgroup>
    </header>
    <section id="inputs_section">
        <? foreach($inputs as $i){?>
            <? echo $page->displayVar($i)?>
        <?}?>
        </form>
    </section>
</section>
<section id="listing">
    <table>
        <tr class="header">
            <th>Player ID</th>
            <th>Name</th>
            <th># Games</th>
            <th># Opponents</th>
            <th># Locations</th>
            <th># Factions</th>
            <th>Points Earned</th>
            <th>Points Spent</th>
            <th>Points</th>
        </tr>
    <?foreach($players as $p){?>
        <tr class="<?=$p[style]?>">
            <td>
                <?=$p[id]?> 
                (<a href="home.php?view=register_player&action=edit&pl_id=<?=$p[id]?>">Edit</a>)
            </td>
            <td><?=$p[last_name]?>, <?=$p[first_name]?></td>
            <td><?=$p[game_count]?></td>
            <td><?=$p[opponents]?></td>
            <td><?=$p[locations]?></td>
            <td><?=$p[factions]?></td>
            <td><?=$p[earned]?></td>
            <td><?=$p[spent]?></td>
            <td><h1><?=$p[points]?></h1></td>
            <td>
                <a href="home.php?view=view_player?pl_id=<?=$p[id]?>">Details</a>
            </td>
        </tr>
    <?}?>
    </table>
</section>

