<section id="main_section">
    <header>
        <hgroup>
            <h1><?php  echo $title?></h1>
        </hgroup>
    </header>
    <section id="inputs_section">
        <form action="<?php echo $form_action?>" method="<?php echo $form_method?>">
        <?php  foreach($inputs as $i){?>
            <?php  echo $page->displayVar($i)?>
        <?php }?>
        </form>
    </section>
</section>
<section id="listing">
    <table>
        <tr class="header">
            <th>Player ID</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    <?php foreach($players as $id=>$p){?>
        <tr class="<?php echo $p[style]?>">
            <td>
                <?php echo $p[player_id]?> 
                <?php if(Session::isAdmin()){?>(<a href="home.php?view=register_player&action=edit&pl_id=<?php echo $p[player_id]?>">Edit</a>)<?php }?>
            </td>
            <td><?php echo $p[last_name]?>, <?php echo $p[first_name]?></td>
            <td><h1><?php echo $p[points]?></h1></td>
            <td>
                <a href="home.php?view=view_player&pl_id=<?php echo $p[player_id]?>">Details</a>
            </td>
        </tr>
    <?php }?>
    </table>
</section>

