<section id="main_section">
    <header>
        <hgroup>
            <h1><?php  echo $title?></h1>
            <?php  if(!empty($error)){?><h3 class="warning"><?php echo $error?></h3><?php }?>
        </hgroup>
    </header>
    <section id="inputs_section">
        <form method="<?php echo $form_method?>" action="<?php echo $form_action?>">
        <?php  foreach($inputs as $i){?>
            <?php  echo $page->displayVar($i)?>
        <?php }?>
        </form>
    </section>
</section>
<section id="listing">
    <table>
        <tr class="header">
            <th>ID</th>
            <th>username</th>
            <th>Name</th>
            <th>Admin?</th>
            <th>Last Login</th>
        </tr>
    <?php foreach($users as $u){?>
        <tr class="<?php echo $u[style]?>">
            <td>
                <?php echo $u[id]?> 
                (<a href="home.php?view=manage_users&action=edit_user&user_id=<?php echo $u[id]?>">Edit</a>)
            </td>
            <td><?php echo $u[username]?></td>
            <td><?php echo $u[name]?></td>
            <td><?php if($u[admin]){?>Y<?php }?></td>
            <td><?php echo $u[last_login]?></td>
            <td>
                <a href="home.php?view=manage_users&action=delete&user_id=<?php echo $u[id]?>">Delete</a>
            </td>
        </tr>
    <?php }?>
    </table>
</section>

