<section id="main_section">
    <?php  if($success_str){?>
        <header>
            <hgroup>
                <h1><?php  echo $title?></h1>
                <h2 class="success">Successful!</h2>
            </hgroup>
        </header>
        <section>
            <div class="simple">
                <?php echo $success_str?> 
            </div>
            <?php  if($link){?>
                <div class="simple">
                    <a href="<?php echo $link[href]?>"><h1><?php echo $link[text]?></h1></a>
                </div>
            <?php }?>
        </section>
    <?php } else {?>
        <header>
            <hgroup>
                <h1><?php  echo $title?></h1>
                <?php  if(!empty($errors)){foreach($errors as $error){?><h3 class="warning"><?php echo $error?></h3><br/><?php }}?>
            </hgroup>
        </header>
        <section id="inputs_section">
            <form method="<?php echo $form_method?>" action="<?php echo $form_action?>">
			<?php  echo $page->displayVar("event_id")?>
			<em>Any player slots left set to "Please select..." will be skipped</em>
            <hr>
			<header><hgroup><h3>Podium</h3></hgroup></header>
			<?php  echo $page->displayVar("first_place")?>
			<?php  echo $page->displayVar("second_place")?>
			<?php  echo $page->displayVar("third_place")?>
			<?php  echo $page->displayVar("fourth_place")?>
			<hr>
			<header><hgroup><h3>Participation</h3></hgroup></header>
			<?php  echo $page->displayVar("num_players")?>
			<?php  for($i=1; $i <= $num_players; $i++){?>
                <?php  echo $page->displayVar("player_".$i."_id")?>
            <?php }?>
            <hr>
            <?php  echo $page->displayVar("submit_batch")?>
            </form>
        </section>
    <?php }?>
</section>
