<form method="<?=$form_method?>" action="<?=$form_action?>">
<section id="main_section">
    <? if($success_str){?>
        <header>
            <hgroup>
                <h1><? echo $title?></h1>
                <h2 class="success">Successful!</h2>
            </hgroup>
        </header>
        <section>
            <div class="simple">
                <?=$success_str?> 
            </div>
        </section>
        <?if($details){?>
        <section id="game_report">
            <table>
                <tr>
                    <th>Player</th>
                    <th>Achievements Earned</th>
                    <th>Points Earned</th>
                    <th>Total Points</th>
                </tr>
                <?foreach($details[players] as $pl){?>
                <tr class="<?=$pl[style]?>">
                    <td>
                        <?=$pl[player_details][last_name]?>, <?=$pl[player_details][first_name]?>
                    </td>
                    <td>
                    <?foreach($pl[achievements] as $a){?>
                        <?=$a[name]?> (<?=$a[points]?>)<br>
                    <?}?>
                    </td>
                    <td><h1><?=$pl[points]?></h1></td>
                    <td><h1><?=$pl[point_total]?></h1></td>
                </tr>
                <?}?>
            </table>
        </section>
        <?}?>
        <section>
            <?if($link){?>
                <div class="simple">
                    <a href="<?=$link[href]?>"><h1><?=$link[text]?></h1></a>
                </div>
            <?}?>
        </section>
    <?} else {?>
    <header>
        <hgroup>
            <h1><? echo $title?></h1>
            <? if(!empty($errors)){?>
                <?foreach($errors as $e){?>
                    <h3 class="warning"><?=$e?></h3>
                <?}?>
            <?}?>
        </hgroup>
    </header>
    <section id="inputs_section">
        <? foreach($inputs as $i){?>
            <? echo $page->displayVar($i)?>
        <?}?>
        <div class="input_container"><hr></div>
        <?for($i=1; $i<=$num_players; $i++){?>
            <div class="input_container"><header><h3><u>Player <?=$i?></u></h3></header></div>
            <?=$page->displayVar("player_".$i."_id")?>
            <?if($uses_factions){$page->displayVar("player_".$i."_faction");}?>
            <?if($uses_sizes){$page->displayVar("player_".$i."_size");}?>
            <?if($uses_painted){$page->displayVar("player_".$i."_fully_painted");}?>
            <?if($uses_theme){$page->displayVar("player_".$i."_theme_force");}?>
        <?}?>
        <div class="input_container"><hr></div>
        <?=$page->displayVar("submit_game")?>
    </section>
    <?}?>
</section>
</form>
