<form action="<?php echo $form_action?>" method="<?php echo $form_method?>">
<section id="main_section">
    <header>
        <h1><?php echo $title?></h1>
    </header>
    <section class="inputs_section">
        <?php echo $page->displayVar("client"); ?>
              
    </section>
</section>
<?php if(!empty($client)){ ?>
<section class="listing">
    <table>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Total Hours</th>
            <th>Add to Report</th>
        </tr>
        <?php $odd=false; ?>
        <?php foreach($client["projects"] as $p){ ?>
        <tr <?php if($odd){ echo 'class="odd"'; }?> >
            <td><?php echo $p["id"] ?></td>
            <td><?php echo $p["name"] ?></td>
            <td></td>
            <td><?php echo $page->printVar("cb_".$p["id"]) ?></td>
        </tr>
        <?php $odd=!$odd; } ?>
    </table>
    
    <?php echo $page->printSimpleInput($page->printVar("create")) ?> 
</section>
<?php } ?>
</form>
