<section id="main_section">
    <header>
        <h1><?php  echo $title?></h1>
        <h2 class="success">Successful!</h2>
    </header>
    <section>
        <div class="simple">
            <?php echo $success_str?> 
        </div>
		<?php if(!empty($error_str)){?>
			<div class="simple">
			     <font class="warning"><?php echo $error_str?></font>
			</div>
		<?php }?>
		<div class="simple">
            <a href="<?php echo $link[href]?>"><h1><?php echo $link[text]?></h1></a>
        </div>
    </section>
</section>
