<section id="main_section">
    <header>
        <hgroup>
            <h1><?php  echo $title?></h1>
            <?php  if(!empty($error)){?><h3 class="warning"><?php echo $error?></h3><?php }?>
        </hgroup>
    </header>
    <section id="inputs_section">
        <form method="<?php echo $form_method?>" action="<?php echo $form_action?>">
        <?php  foreach($inputs as $i){?>
            <?php  echo $page->displayVar($i)?>
        <?php }?>
        </form>
    <?php if($selected_player){?>
        <header><h1>Statistics for <?php echo $player[last_name]?>, <?php echo $player[first_name]?></h1><?php if(Session::isAdmin()){?>(<a href="home.php?view=register_player&action=edit&pl_id=<?php echo $player[id]?>">Edit player registration</a>)<?php }?></header>
        <div class="simple"><font <?php if($stats[points] > 0){?>class="success"<?php  } else {?>class="warning"<?php }?>>Current Points: <strong><?php echo $stats[points]?></font></strong></div>
    <?php }?>
    </section>
</section>
<?php if($selected_player){?>
<section id="listing">
    <header><h1>Achievements for <?php echo $player[last_name]?>, <?php echo $player[first_name]?></h1></header>
    <table>
        <tr class="header">
            <th>Achievement</th>
            <th>Points Earned</th>
        </tr>
    <?php foreach($event_achs as $ea){?>
        <tr class="<?php echo $ea[style]?>">
            <td><?php echo $ea[name]?></td>
            <td></h1><?php echo $ea[points]?></h1></td>
            <?php if(Session::isAdmin()){?>
			<td>
                <a href="home.php?view=award_ach&action=delete&ach_id=<?php echo $ea[earned_id]?>">Delete</a>
            </td>
			<?php }?>
        </tr>
    <?php }?>
    </table>
</section>
<?php }?>

