<section id="main_section">
    <header>
        <hgroup>
            <h1><? echo $title?></h1>
            <? if(!empty($error)){?><h3 class="warning"><?=$error?></h3><?}?>
        </hgroup>
    </header>
    <section id="inputs_section">
        <form method="<?=$form_method?>" action="<?=$form_action?>">
        <? foreach($inputs as $i){?>
            <? echo $page->displayVar($i)?>
        <?}?>
        </form>
    <?if($selected_player){?>
        <header><h1>Statistics for <?=$player[last_name]?>, <?=$player[first_name]?></h1></header>
        <div class="simple">Games Played: <strong><?=$stats[games]?></strong></div>
        <div class="simple">Unique Opponents Played: <strong><?=$stats[opponents]?></strong></div>
        <div class="simple">Unique Opponent Locations: <strong><?=$stats[locations]?></strong></div>
        <div class="simple">Factions Played Against: <strong><?=$stats[faction_list]?></strong></div>
        <div class="simple">Current Points: <strong><?=$stats[points]?></strong></div>
    <?}?>
    </section>
</section>
<?if($selected_player){?>
<section id="listing">
    <header><h1>Game Details for <?=$player[last_name]?>, <?=$player[first_name]?></h1></header>
    <table>
        <tr class="header">
            <th>Game ID</th>
            <th>Time</th>
            <th>Players</th>
            <th>Achievements Earned</th>
            <th>Points Earned</th>
        </tr>
    <?foreach($player[games] as $gp){?>
        <tr class="<?=$gp[style]?>">
            <td>
                <?=$gp[id]?> 
                (<a href="home.php?view=report_game&action=edit_game&game_id=<?=$gp[id]?>">Edit</a>)
            </td>
            <td><?=$gp[creation_time]?></td>
            <td><?=$gp[player_listing]?></td>
            <td><?=$gp[achievement_listing]?></td>
            <td><h1><?=$gp[points_earned]?></h1></td>
            <?if(Session::isAdmin()){?>
            <td>
                <a href="home.php?view=report_game&action=delete&game_id=<?=$gp[id]?>">Delete</a>
            </td>
            <?}?>
        </tr>
    <?}?>
    </table>
</section>
<section id="listing">
    <header><h1>Event & Misc Achievements for <?=$player[last_name]?>, <?=$player[first_name]?></h1></header>
    <table>
        <tr class="header">
            <th>Event</th>
            <th>Achievement</th>
            <th>Points Earned</th>
        </tr>
    <?foreach($event_achs as $ea){?>
        <tr class="<?=$ea[style]?>">
            <td><?=$ea[event_name]?></th>
            <td><?=$ea[name]?></td>
            <td></h1><?=$ea[points]?></h1></td>
            <td>
                <a href="home.php?view=batch_processing&action=delete&ach_id=<?=$ea[earned_id]?>">Delete</a>
            </td>
        </tr>
    <?}?>
    </table>
</section>
<section id="listing">
    <header><h1>Prize Redemptions for <?=$player[last_name]?>, <?=$player[first_name]?></h1></header>
    <table>
        <tr class="header">
            <th>Redemption ID</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    <?foreach($redemptions as $pr){?>
        <tr class="<?=$pr[style]?>">
            <td>
                <?=$pr[id]?>
                (<a href="home.php?view=redeem&action=edit&pr_id=<?=$pr[id]?>">Edit</a>)
            </td>
            <td><?=$pr[creation_time]?></th>
            <td><h1><?=$pr[cost]?></h1></td>
            <td><?=$pr[description]?></td>
            <td>
                <a href="home.php?view=redeem&action=delete&pr_id=<?=$pr[id]?>">Delete</a>
            </td>
        </tr>
    <?}?>
    </table>
</section>
<?}?>

